name: Android Build NO WRAPPER

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    # هنا الخطوة السحرية: نطلب من GitHub تثبيت Gradle 8.0 لنا
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.0'
      
    # لاحظ: نستخدم كلمة gradle مباشرة وليس ./gradlew
    - name: Build Debug APK
      run: gradle assembleDebug --no-daemon --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: smart-memory-apk
        path: app/build/outputs/apk/debug/app-debug.apk
